.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.centerm{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.form{
    height: 400px;
    width: 300px;  

}
.tb{
    background-color: lightblue;
}