.button{
    width: 75px;
    height: 75px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
    background-color: brown;
    border: none;
    color: white;
}
.calculatordisplay{
    width: 310px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 20px;
}
.calculator{
   
    border: 3px solid blue;
    border-radius: 10px;
    background-color: rgba(0,0,150,0.5);
    height: 450px;
    width: 400px;
}
.calculatordiv{
    height: 100vh;
    width: 100vw;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
     flex-direction: column;
    
}